@import 'src/styles/colors';
@import 'src/styles/constants';

:host {
  display: flex;
  justify-content: space-between;
  border: $border-width solid $color-gainsboro;
  border-radius: $border-radius;
  padding: $content-padding;

  p {
    color:$color-boston-blue;
  }

  .icon {
    width:55px;
  }

  span {
    font-size: 16px;
    font-weight: bold;
  }

  .column{
    border-bottom: $border-width solid $color-gainsboro;
    height: 60px;
  }
}