<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="column">
    <img class="icon" src="assets/img/rocet.png" />
    <span>About me</span>
  </div>
  <p>Matchmaker</p>
  <p>Personality Styles</p>
  <p>Learning Styles</p>
  <p>Skills Lab</p>
</div>
<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="column">
    <img class="icon" src="assets/img/bag1.jpg" />
    <span>Explore Options</span>
  </div>
  <p>Careers</p>
  <p>Shools</p>
  <p>Majors</p>
  <p>Saved Options</p>
</div>
<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="column">
    <img class="icon" src="assets/img/paper.jpg" />
    <span>Goals and Plans</span>
  </div>
  <p>My Plans</p>
  <p>Course Planner</p>
  <p>College Planning</p>
</div>
