@import 'src/styles/colors';
@import 'src/styles/constants';

:host{  
  border: $border-width solid $color-gainsboro;
  border-radius: $border-radius;
  padding: $content-padding;
  margin: $margin; 
  cursor: pointer;
  display: flex;
  height: 60px;
    
  .lesson-name {
    font-size: 20px;
  }

  .uncomplited-lesson{
    color:$color-boston-blue;
    font-weight: bold;
  }

  span.icon-green {
    color: $color-spinner-yellow-green;
    font-size: 36px;
  }

  .lesson-icon {
    margin: 0 30px; 
    width: 55px;
  }  
}