<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div class="uploader-progress">
      <mat-progress-spinner mode="determinate" [value]="progress" diameter="65">
      </mat-progress-spinner>
      <div class="progress">{{progress}}%</div>
    </div>
    <div>
      <h1>Core Lessons</h1>
    </div>
    <div class="arrow">
      <span *ngIf="!isLessonsExpanded" (click)="onLessonExpandClick()" class="material-icons">
        expand_more
      </span>
      <span *ngIf="isLessonsExpanded" class="material-icons" (click)="onLessonExpandClick()">
        expand_less
      </span>
    </div>
  </div>
  <div class="flag">
    <div class="grade">Grade</div>
    <div class="numberOfGrade">{{grade}}</div>
    <div class="triangle-up"></div>
  </div>
</div>
<div fxLayout="column" class="expanded-lessons" [ngClass]="{'overlap' : isLessonsExpanded}" *ngIf="isLessonsExpanded">
  <div fxLayoutAlign="space-between center" fxLayoutGap="40px" class="core-lessons">
    <div>
      <div class="title">Core Lessons</div>
      <div>Mandatory activities set by your school or district, that need to be complete by the end of your current
        year.</div>
    </div>
    <div>
      <div class="percent">{{coreLessons}}%</div>
      Complete
    </div>
  </div>
  <div fxLayoutAlign="space-between center" fxLayoutGap="20px" class="lessons">
    <div>
      <div class="title">
        All Lessons
      </div>
      Combination of mandatoryactivities plus another set of valuable lessons that will get you closer to be future
      ready.
    </div>
    <div>
      <div class="percent">{{allLessons}}%</div>
      Complete
    </div>
  </div>
</div>
