@import 'src/styles/colors';
@import 'src/styles/constants';

:host {
  border: $border-width solid $color-gainsboro;
  border-radius: $border-radius;
  padding: $content-padding;
  width: 100%;
  box-sizing: border-box;
   
  .footer {  
    background-color: $color-white-smoke;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -$content-padding;
    margin-right: -$content-padding;
    margin-bottom: -$content-padding;
    cursor: pointer;
  }
}
