<app-lessons-header [progress]="getCoreProgress()" grade="10" [coreLessons]="getCoreProgress()"
  [allLessons]="getTotalProgress()"></app-lessons-header>
<app-featured-lesson></app-featured-lesson>
<a *ngFor="let lesson of getLessons()" routerLink="/lessons/{{lesson.id}}" routerLinkActive="active">
  <app-lesson-item [lessonName]="lesson.name" [iconName]="lesson.iconName" [isLessonCompleted]="lesson.isCompleted">
  </app-lesson-item>
</a>
<div class="footer" *ngIf="!isAllLessonsClicked" (click)="viewAllLessonsClick()">View All Lessons</div>
