<div class="resource">
  <h1>Links and Resources</h1>
</div>
<div>
  <div fxLayoutAlign="start center" class="link">
    <div class="icons">
      <span class="material-icons">
        description
      </span>
    </div>
    <div>
      <div class="resurce-name">Tips for a successful interview
        <span class="material-icons">
          open_in_new
        </span>
      </div>
      <div>33 Kb</div>
    </div>
  </div>
  <div fxLayoutAlign="start center" class="link1">
    <div class="icons">
      <span class="material-icons">
        description
      </span>
    </div>
    <div>
      <div class="resurce-name">Welcome to Xello
        <span class="material-icons">
          open_in_new
        </span>
      </div>
      <div>93 Kb</div>
    </div>
  </div>
</div>
