$color-white-smoke: #F7F7F7;
$color-futured-lesson-background-1: rgb(254, 201,211);
$color-futured-lesson-background-2: rgb(252, 240,203);
$color-spinner-yellow-green: rgb(140, 195,41);
$color-button-cerulean: rgb(4, 123,175);
$color-flag-ce-soir: rgb(143,92,168);
$color-flag-white: rgb(250,250,250);
$color-boston-blue: rgb(75,160,183);
$color-gainsboro: rgb(231,231,231);
$color-dim-grey: #606060;