@import 'src/styles/colors';

:host {
  display: flex;
  justify-content: space-between;

  mat-toolbar-row {
    display:flex;
    justify-content: space-between;
    background-color: #111213;
  }
  
  a {
    text-decoration: none;
    padding: 15px;
  }

  a:hover,
  a:active {
    color: $color-flag-white;
  }

  span{
    font-size: 35px;
    color: $color-flag-white;
  }
}