<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="dashboard" routerLinkActive="active" style="cursor:pointer">
      <span>Xello</span>
    </a>
    <div>
      <a mat-button routerLink="dashboard" routerLinkActive="active" style="cursor:pointer">About Me</a>
      <a mat-button routerLink="projects" routerLinkActive="active" style="cursor:pointer">Explore options</a>
      <a mat-button routerLink="cia" routerLinkActive="active" style="cursor:pointer">Goals & Plans</a>
    </div>
    <div>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>favorite_border</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
